body{
    background-color: rgb(143, 145, 134);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* text-align: center; */
    background-color: rgb(178, 176, 176);
     width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}
#countdown{
    border: 2x solid black;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
    
h1{
    font-size: x-large;
    margin-top: 0;
    margin-bottom: 30px;
}

h2{
    font-size: medium;
    margin-top: 30px;
    margin-bottom: 0;
}

#countdown div{
    font-weight:500;
    /* font-size: larger; */
    width: 28px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    gap: 4px;
}

.progress-container{
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#progress-bar{
    background-color: rgb(97, 158, 5);
    width: 0%;
    height: 100%;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}

/* @media (max-width: 600px) {
  .container {
    width:80%;
  }
  #container div{
    width: 10px;
    font: 
  }
} */


@media (max-width: 450px) {
  .container {
    width:80%;
  }
  #container div{
    width: 2px;
    font-size: small;
    padding: 10px;
    
    
    
  }
}